# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: log4cxx-windows

on: [push, pull_request]

jobs:
  job:
    name: ${{ matrix.os }}-${{ matrix.cxx }}-build-and-test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 38
    strategy:
      fail-fast: false
      matrix:
        name: [windows-2022, windows-2025-qt]
        include:
          - name: windows-2022
            os: windows-2022
            qt: OFF
            vcpkg_install_minutes: 10
          - name: windows-2025-qt
            os: windows-2025
            qt: ON
            qt_component: qtbase
            vcpkg_install_minutes: 90

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false # do not persist auth token in the local git config
        path: main

    - name: 'Restore Prebuilt Dependencies'
      id: restore-vcpkg-cache
      uses: actions/cache@v4
      with:
        path: vcpkg
        key: ${{ runner.os }}-${{ matrix.name }}-cache-x64

    - name: 'Checkout VCPKG'
      if: steps.restore-vcpkg-cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v4
      with:
        repository: microsoft/vcpkg
        path: vcpkg
        ref: 2025.07.25

    - name: 'Configure Dependencies'
      if: steps.restore-vcpkg-cache.outputs.cache-hit != 'true'
      id: runvcpkg
      shell: pwsh
      timeout-minutes: ${{ matrix.vcpkg_install_minutes }}
      run: |
        cd vcpkg
        ./bootstrap-vcpkg.bat
        ./vcpkg install apr apr-util fmt ${{ matrix.qt_component }} --triplet=x64-windows

    - name: 'Install zip'
      id: install-zip
      shell: pwsh
      run: |
        $Env:PATH += ";C:\msys64\usr\bin"
        pacman --noconfirm -S zip

    - name: 'run cmake'
      shell: pwsh
      run: |
        $ErrorActionPreference="Stop"
        $ROOT=Get-Location
        Set-PSDebug -Trace 1
        cmake `
           -DLOG4CXX_CHAR=wchar_t `
           -DLOG4CXX_ENABLE_ODBC=on `
           "-DLOG4CXX_QT_SUPPORT=${{ matrix.qt }}" `
           "-DLOG4CXX_TEST_PROGRAM_PATH=C:\msys64\usr\bin" `
           "-DCMAKE_TOOLCHAIN_FILE=$ROOT/vcpkg/scripts/buildsystems/vcpkg.cmake" `
           "-DVCPKG_TARGET_TRIPLET=x64-windows" `
           "-DCMAKE_INSTALL_PREFIX=$ROOT/Libraries" `
           -S "$ROOT/main" `
           -B "$ROOT/build"

        cmake --build "$ROOT/build" --target INSTALL --config Release

    - name: 'test installation'
      shell: pwsh
      run: |
        $ErrorActionPreference="Stop"
        $ROOT=Get-Location
        Set-PSDebug -Trace 1
        cmake `
           "-DCMAKE_PREFIX_PATH=$ROOT/Libraries" `
           "-DCMAKE_TOOLCHAIN_FILE=$ROOT/vcpkg/scripts/buildsystems/vcpkg.cmake" `
           "-DVCPKG_TARGET_TRIPLET=x64-windows" `
           -S "$ROOT/main/src/examples/cpp/MyApp" `
           -B "$ROOT/MyApp-build"

        cmake --build "$ROOT/MyApp-build" --config Release

        if ( "${{ matrix.qt }}" -eq "ON" ) {
            cmake `
               "-DCMAKE_PREFIX_PATH=$ROOT/Libraries" `
               "-DCMAKE_TOOLCHAIN_FILE=$ROOT/vcpkg/scripts/buildsystems/vcpkg.cmake" `
               "-DVCPKG_TARGET_TRIPLET=x64-windows" `
               -S "$ROOT/main/src/examples/cpp/MyApp-qt" `
               -B "$ROOT/MyApp-qt-build"

            cmake --build "$ROOT/MyApp-qt-build" --config Release
        }

    - name: run unit tests
      shell: pwsh
      run: |
        cd build
        ctest -C Release --output-on-failure
